!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %link{:rel => "stylesheet", :href => "/foundation.css", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "/btns.css", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "/style.css", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css", :type => "text/css"}
    %title Accountabl.es - Stay accountable
  %body.miracle-grow-gradient
  .header.row
    %h1 Accountabl.es
    %h2 Stay accountable easily
  .content.row
    .body
      .flash
      - if flash[:success]
        %p.small-6.large-centered.columns{:style => 'color: green;'}
          = flash[:success]
      - if flash[:error]
        %p.small-6.large-centered.columns{:style => 'color: red;'}
          = flash[:error]
    #{yield}
