.login
%form{:action => "/auth/login", :method => "post"}
  %p
    %label Email Address
    %input{:type => "email", :placeholder => "Enter your email address", :name => "user[username]"}
  
  %p
    %label Password
    %input{:type => "password", :placeholder => "Enter your password", :name => "user[password]"}

  %p
    %input.btn.btn--gray-dark{:type => "submit", :value => "Let me in!"}

  %p
    New to this thing? Why not
    %a{:href => "/register"}register?
