%h3 Hey there #{session[:name]}, how are you?

%p The habit you are currently tracking is #{session[:habit]}

%p Number of days you have been doing this is #{session[:current_streak]}

%p Have you completed your #{session[:habit]} task today?

%form{:action => "/myaccount", :method => "post"}
  %input.btn.btn--gray-dark{:type => "submit", :name => "complete", :value => "Yep!"}

%p
  %a{:href => "/auth/logout"}Log out?
